﻿@model Category

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">

        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Delete Category</h2>
            </div>
        </div>
        <div class="card-body p-4">
            <form method="post">
                <input asp-for="CategoryId" hidden />
                <div class="border p-3 mt-4">
                   

                    <div class="form-floating py-2 col-12">
                        <input asp-for="Name" disabled class="form-control border-0 shadow" />
                        <label asp-for="Name" disabled class="ms-2"></label>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="DisplayOrder" disabled class="form-control border-0 shadow" />
                        <label asp-for="DisplayOrder" disabled class="ms-2"></label>
                    </div>

                    <div class="row">
                        <div class="col-6 col-md-3">
                            <button type="submit" class="btn btn-danger form-control">Delete</button>
                        </div>
                        <div class="col-6 col-md-3">
                            <a asp-controller="Category" asp-action="Index" class="btn btn-secondary form-control">
                                Back To List
                            </a>
                        </div>
                    </div>

                </div>
            </form>
        </div>

    </div>
</div>

