﻿@model Category


<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">

        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Edit Category</h2>
            </div>
        </div>
        <div class="card-body p-4">
            <form method="post">
                <input asp-for="CategoryId" hidden />
                <div class="border p-3 mt-4">
                    
                    @* <div asp-validation-summary="ModelOnly"></div> *@
                    <div class="form-floating py-2 col-12">
                        <input asp-for="Name" class="form-control border-0 shadow" />
                        <label asp-for="Name" class="ms-2"></label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="DisplayOrder" class="form-control border-0 shadow" />
                        <label asp-for="DisplayOrder" class="ms-2"></label>

                        <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                    </div>

                    <div class="row mt-3">
                        <div class="col-6 col-md-3">
                            <button type="submit" class="btn btn-primary form-control">Update</button>
                        </div>
                        <div class="col-6 col-md-3">
                            <a asp-controller="Category" asp-action="Index" class="btn btn-secondary form-control">
                                Back To List
                            </a>
                        </div>
                    </div>

                </div>
            </form>
        </div>

    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}