﻿@using FlowerShop.DataLayer.Entity;

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Category

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3">
                @*<div asp-validation-summary="ModelOnly"></div>*@
                <div class="form-floating py-2 col-12">
                    <input asp-for="CategoryName" class="form-control border-0 shadow" />
                    <label asp-for="CategoryName" class="ms-2"></label>
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="CategoryOrder" class="form-control border-0 shadow" />
                    <label asp-for="CategoryOrder" class="ms-2"></label>
                    <span asp-validation-for="CategoryOrder" class="text-danger"></span>
                </div>
    
                <div class="py-2 col-12">
                    <label asp-for="CategoryDescription" class="ms-2 text-muted"></label>
                    <textarea asp-for="CategoryDescription" class="form-control border-0 shadow"></textarea>
                    <span asp-validation-for="CategoryDescription" class="text-danger"></span>
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Create</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Category" asp-action="Index" class="btn btn-outline-primary border  form-control">
                            Back to List
                        </a>
                    </div>
                </div>


            </div>
        </form>
    </div>
</div>




@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}