﻿@using FlowerShop.DataLayer.Entity;

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Category
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Delete Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post">
            <input asp-for="CategoryID" hidden />
            <div class="border p-3 mt-4">
                <div class="form-floating py-2 col-12">
                    <input asp-for="CategoryName" disabled class="form-control border-0 shadow" />
                    <label asp-for="CategoryName" class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="CategoryOrder" disabled class="form-control border-0 shadow" />
                    <label asp-for="CategoryOrder" class="ms-2"></label>
                </div>
                
               
                <div class="py-2 col-12">
                    <label asp-for="CategoryDescription" class="ms-2 text-muted"></label>
                    <textarea asp-for="CategoryDescription" disabled class="form-control border-0 shadow"></textarea>
                    <span asp-validation-for="CategoryDescription" class="text-danger"></span>
                </div>


                <div class="row mt-3">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-danger form-control">Delete</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary border  form-control">
                            Back to List
                        </a>
                    </div>
                </div>


            </div>
        </form>
    </div>
</div>





