﻿@using LeaveManagement.DataLayer.Enum;
@model RequestDTO

<form asp-action="Edit">
    <div class="p-3 mt-4">
        <div class="row pb-2">
            <h1 class="text-dark text-center">Edit Request</h1>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="StudentName" class="p-0 col-sm-2 text-end fw-bold"></label>
            <div class="col-sm-10">
                <input asp-for="StudentName" class="form-control" />
                <span asp-validation-for="StudentName" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="GroupID" class="p-0 col-sm-2 text-end fw-bold"></label>
            <div class="col-sm-10">
                <select asp-for="GroupID" asp-items="ViewBag.ClassRoom" class="form-select">
                    <option disabled selected>--Select Class---</option>
                </select>
                <span asp-validation-for="GroupID" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Title" class="p-0 col-sm-2 text-end fw-bold"></label>
            <div class="col-sm-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="LeaveDate" class="p-0 col-sm-2 text-end fw-bold"></label>
            <div class="col-sm-10">
                <input type="date" asp-for="LeaveDate" class="form-control" />
                <span asp-validation-for="LeaveDate" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="LeaveType" class="p-0 col-sm-2 text-end fw-bold"></label>
            <div class="col-sm-10 ">
                @foreach (var item in Html.GetEnumSelectList<LeaveType>())
                {
                    <input type="radio" asp-for="LeaveType" value="@item.Value" checked="@Model.LeaveType == item.Value">
                    @item.Text
                    <br />
                }
                <span asp-validation-for="LeaveType" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Reason" class="p-0 col-sm-2 text-end fw-bold"></label>
            <div class="col-sm-10">
                <textarea asp-for="Reason" class="form-control" rows="2"></textarea>
            
            </div>
        </div>
        <input type="hidden" asp-for="RequestID" />
        <div class="text-end">
            <button type="submit" class="btn btn-primary">Save Change</button>
            <a asp-controller="Leave" asp-action="Main" class="btn btn-primary">Back</a>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
