﻿@model UserLogin

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="container h-100">
	<div class="row justify-content-sm-center h-100">
		<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
			<div class="text-center my-5">
				
			</div>
			<div class="card shadow-lg">
				<div class="card-body p-5">
					<h1 class="fs-4 card-title fw-bold mb-4">Login</h1>
					<form asp-action="Login" class="needs-validation" novalidate="" autocomplete="off">
						<div class="mb-3">
							<label asp-for="Email" class="mb-2 text-muted"></label>
							<input asp-for="Email" class="form-control" required autofocus>
							<span asp-validation-for="Email" class="text-danger"></span>
						</div>
						<div class="mb-3">
							<div class="mb-2 w-100">
								<label asp-for="Password"  class="text-muted">Password</label>
							</div>
							<input asp-for="Password" type="password" class="form-control" required>
							<span asp-validation-for="Password" class="text-danger"></span>
						</div>
						<div class="d-flex align-items-center">
							<button type="submit" class="btn btn-primary ms-auto w-100">
								Login
							</button>
						</div>
					</form>
				</div>
				<div class="card-footer py-3 border-0">
					<div class="text-center">
						Don't have an account? <a asp-action="Index" class="text-dark">Create One</a>
					</div>
				</div>
			</div>
			<div class="text-center mt-5 text-muted">
				Copyright &copy; 2017-2021 &mdash; Your Company
			</div>
		</div>
	</div>
</div>


