﻿@model IEnumerable<LeaveManagement.BusinessLayer.DTO.RequestViewModel>

@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var role = @HttpContextAccessor.HttpContext.Session.GetString("UserRole");
}

<div class="p-3 mt-4">
    <div class="row pb-4">
        <h1 class="text-dark text-center">View Request</h1>
    </div>
    @if(role == "Student"){
    
        <div class="text-end mb-2">
            <a asp-controller="Leave" asp-action="Create" class="btn btn-primary">Create Request</a>
        </div>
    }
    
    <table class="table">
        <thead>
            <tr class="table-primary border-1">
                <th>Student Name</th>
                <th>Class Name</th>
                <th>Title</th>
                <th>Leave Date</th>
                <th>Leave Type</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td><a asp-controller="Leave" asp-action="ViewDetail" asp-route-id="@obj.RequestID">@obj.StudentName</a></td>
                    <td>Class @obj.ClassName</td>
                    <td>@obj.Title</td>
                    <td>@obj.LeaveDate.ToShortDateString()</td>
                    <td>@obj.LeaveType</td>
                    <td>@obj.LeaveStatus</td>
                </tr>
            }
        </tbody>
    </table>
</div>
        