﻿@model LeaveManagement.BusinessLayer.DTO.RequestDTO

@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var role = @HttpContextAccessor.HttpContext.Session.GetString("UserRole");
}
@{
    ViewData["Title"] = "ViewDetail";
    
}

<div class="p-3 mt-4">
    <div class="row pb-4">
        <h1 class="text-dark text-center">Detail Request</h1>
    </div>
    <div>
        <div class="row">
            <div class="col-md-2">
                <p class="fw-bold text-end">Student Name</p>
            </div>
            <div class="col-md-10">
                <p>@Model.StudentName</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <p class="fw-bold text-end">Class Name</p>
            </div>
            <div class="col-md-10">
                <p>@Model.GroupName</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <p class="fw-bold text-end">Title</p>
            </div>
            <div class="col-md-10">
                <p>@Model.Title</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <p class="fw-bold text-end">Leave Date</p>
            </div>
            <div class="col-md-10">
                <p>@Model.LeaveDate</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <p class="fw-bold text-end">Leave Type</p>
            </div>
            <div class="col-md-10">
                <p>@Model.LeaveType</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <p class="fw-bold text-end">Reason for leave</p>
            </div>
            <div class="col-md-10">
                <p>@Model.Reason</p>
            </div>
        </div>
        <div class="text-end mt-3">
            @if(role == "Admin")
            {
                @if (Model.Status == "Submitted")
                {

                    <a asp-controller="Leave" asp-action="Approve" asp-route-requestID="@Model.RequestID" class="btn btn-success">Approve</a>
                    <a asp-controller="Leave" asp-action="Reject" asp-route-requestID="@Model.RequestID" class="btn btn-danger">Reject</a>
                }
            }
            @if(role == "Student")
            {
                @if (Model.Status == "Submitted")
                {
                    <a asp-controller="Leave" asp-action="Edit" asp-route-requestID="@Model.RequestID" class="btn btn-warning">Edit</a>
                    <a asp-controller="Leave" asp-action="Cancel" asp-route-requestID="@Model.RequestID" class="btn btn-danger">Cancel</a>
                }
            }

            <a asp-controller="Leave" asp-action="Main" class="btn btn-primary">Back</a>
        </div>
    </div>
</div>
