﻿@using FlowerShop.DataLayer.Entity;
@model List<Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

@foreach (var flower in Model)
{

    DateTime currentDate = DateTime.Now;
    DateTime modelDate = flower.StoreDate;

    bool isWithin7Days = (currentDate - modelDate).TotalDays < 7;
    <div class="col mb-5">
        <div class="card h-100">
            @if (flower.FlowerSaledPrice == null)
            {
                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">New</div>
            }
            else if (flower.FlowerSaledPrice != null)
            {
                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>

            }
            <!-- Product image-->
            <img class="card-img-top" src=" @flower.UrlImage" alt="..." />
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">@flower.FlowerName</h5>
                    <!-- Product reviews-->
                    <div class="d-flex justify-content-center small text-warning mb-2">
                        <div class="bi-star-fill"></div>
                        <div class="bi-star-fill"></div>
                        <div class="bi-star-fill"></div>
                        <div class="bi-star-fill"></div>
                        <div class="bi-star-fill"></div>
                    </div>
                    @if (flower.FlowerSaledPrice != 0 && flower.FlowerSaledPrice != flower.FlowerPrice && flower.FlowerSaledPrice != null)
                    {
                        <span class="text-muted text-decoration-line-through">@flower.FlowerPrice</span>
                        @flower.FlowerSaledPrice

                    }
                    else{
                    @flower.FlowerPrice}

                </div>

            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                    <form>
                    <a class="btn btn-outline-dark mt-auto" asp-area="Customer" asp-controller="Product" asp-action="AddToCart">Add to cart</a>
                    </form>
                </div>
            </div>
        </div>
    </div>


}




