﻿@using FlowerShop.DataLayer.Entity;
@model List<Product>
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<form>
    <div class="row">
        <div>
            <div>
                <div>
                    <label class="p-0 mb-2 fw-bold">Category</label>
                </div>
                <div>                  
                    <select name="categoryId" asp-items="@ViewBag.categoryList" required class="form-select">
                        @foreach (var category in ViewBag.categoryList)
                        {
                            <option value="@category.Value">@category.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div>
                    <label class="p-0 mb-2 fw-bold">Flower Name</label>
                </div>
                <div>
                    <input value="@ViewBag.flowerName" type="text" name="flowerName" class="form-control" required />
                </div>

            </div>
        </div>
        <div>
            <div>
                <div>
                    <label class="p-0 mb-2 fw-bold">Price <span class="fw-normal">(from - to)</span></label>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <input value="@ViewBag.from" type="number" step="0.1" name="from" class="form-control" />
                    </div>
                    <div class="col-sm-1">-</div>
                    <div class="col-sm-5">
                        <input value="@ViewBag.to" type="number" step="0.1" name="to" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 d-flex justify-content-end flex-column">
            <div>
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>
</form>

<div class="row mt-4">

    @foreach (var flower in Model)
    {

        DateTime currentDate = DateTime.Now;
        DateTime modelDate = flower.StoreDate;

        bool isWithin7Days = (currentDate - modelDate).TotalDays < 7;
        <div class="col mb-5">
            <div class="card h-100">
                @if (flower.FlowerSaledPrice == null)
                {
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">New</div>
                }
                else if (flower.FlowerSaledPrice != null)
                {
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>

                }
                <!-- Product image-->
                <img class="card-img-top" src=" @flower.UrlImage" alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">@flower.FlowerName</h5>
                        <!-- Product reviews-->
                        <div class="d-flex justify-content-center small text-warning mb-2">
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                        </div>
                        @if (flower.FlowerSaledPrice != 0 && flower.FlowerSaledPrice != flower.FlowerPrice && flower.FlowerSaledPrice != null)
                        {
                            <span class="text-muted text-decoration-line-through">@flower.FlowerPrice</span>
                            @flower.FlowerSaledPrice

                        }
                        else
                        {
                            @flower.FlowerPrice
                        }

                    </div>

                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center">
                        <a class="btn btn-outline-dark mt-auto" asp-area="Customer" asp-controller="Product" asp-action="AddToCart">Add to cart</a>
                     </div>
                </div>
            </div>
        </div>


    }

</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}