﻿@using FlowerShop.DataLayer.Entity;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<Product>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Product List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-area="Admin" asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i>  Create New Product
                </a>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Flower Name
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Color
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Saled Price
                    </th>
                    <th>
                        Store Date
                    </th>
                    <th>
                        Store Inventory
                    </th>
                    <th>
                        Image
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>@obj.FlowerName</td>
                        <td>
                            @obj.Category.CategoryName
                        </td>
                        <td>
                            @obj.FlowerDescription
                        </td>
                        <td>
                            @obj.FlowerColor
                        </td>
                        <td>
                            @obj.FlowerPrice
                        </td>
                        <td>
                            @obj.FlowerSaledPrice
                        </td>
                        <td>
                            @obj.StoreDate.ToShortDateString()
                        </td>
                        <td>
                            @obj.StoreInventory
                        </td>
                        <td>
                            <div class="col-2">
                                @if (@obj.UrlImage != null)
                                {
                                    <img src="@obj.UrlImage" width="100px"
                                         style="border-radius:5px; border:1px solid #bbb9b9" />

                                }
                            </div>
                        </td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-area="Admin" asp-controller="Product" asp-action="Upsert" asp-route-id="@obj.FlowerID" class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                                <a asp-area="Admin" asp-controller="Product" asp-action="Delete" asp-route-id="@obj.FlowerID" class="btn btn-danger mx-2">
                                    <i class="bi bi-trash-fill"></i> Delete
                                </a>
                            </div>
                        </td>
                        
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>



