﻿@{
    ViewData["Title"] = "SaleOff";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> SaleOff Flower</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="row">

                <div class="border p-3">
                    @*<div asp-validation-summary="ModelOnly"></div>*@

                    <div class="py-2 col-12">
                        <label>Category</label>
                        <select id="categoryDropdown" name="categoryId" asp-items="ViewBag.Category" class="form-select">
                            <option disabled selected>--Select Category---</option>
                        </select>

                    </div>

                    <div class="py-2 col-12">
                        <label>Flower</label>
                        <select id="flowerDropdown" name="flowerId" class="form-select">
                        </select>
                    </div>
                    
                    <div class="form-floating py-2 col-12">
                        <input class="form-control border-0 shadow" type="number" name="saleOff" required step="0.1"/>
                        <label>Sale Off (percent)</label>
                        
                    </div>


                    <div class="row pt-2">
                        <div class="col-6 col-md-3">

                            <button type="submit" class="btn btn-primary form-control">Create</button>

                        </div>
                        <div class="col-6 col-md-3">
                            <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary border  form-control">
                                Back to List
                            </a>
                        </div>
                    </div>

                </div>
                
            </div>

        </form>
    </div>
</div>




@{
    <partial name="_ValidationScriptsPartial" />
}


<script>
    $(document).ready(function () {
        $('#categoryDropdown').change(function () {
            var categoryId = $(this).val();
            $.ajax({
                url: '/Admin/Product/OnGetGetProducts',
                type: 'GET',
                data: { categoryId: categoryId },
                success: function (data) {
                    $('#flowerDropdown').empty();
                    $('#flowerDropdown').append($('<option>').text('-- Select Flower --').attr('value', ''));
                    $.each(data, function (index, item) {
                        $('#flowerDropdown').append($('<option>').text(item.text).attr('value', item.value));
                    });
                }
            });
        });
    });
</script>



