﻿@using FlowerShop.DataLayer.Entity;
@using FlowerShop.DataLayer.Enum;

@{
    ViewData["Title"] = "Upsert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Product

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> @(Model.FlowerID != Guid.Empty? "Update" : "Create") Flower</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="FlowerID" hidden />

            <div class="row">

                <div class="border p-3">
                    @*<div asp-validation-summary="ModelOnly"></div>*@
                    <div class="form-floating py-2 col-12">
                        <input asp-for="FlowerName" class="form-control border-0 shadow" />
                        <label asp-for="FlowerName" class="ms-2"></label>
                        <span asp-validation-for="FlowerName" class="text-danger"></span>
                    </div>
                    <div class="py-2 col-12">
                        <label asp-for="FlowerDescription" class="ms-2 text-muted"></label>
                        <textarea asp-for="FlowerDescription" class="form-control border-0 shadow"></textarea>
                        <span asp-validation-for="FlowerDescription" class="text-danger"></span>
                    </div>

                    <div class=" py-2 col-12 border-0 shadow">
                        <label asp-for="FlowerColor" class="ms-2"></label>
                        <br/>
                        @foreach (var item in Html.GetEnumSelectList<Color>())
                        {
                            <div class="me-2 d-inline">
                            <input class="form-check-input"  type="radio" asp-for="FlowerColor" id="@item.Value"  value="@item.Value">
                            <label class="form-check-label" for="@item.Value">@item.Text</label>
                            </div>
                        }
                        
                    </div>
                    <span asp-validation-for="FlowerColor" class="text-danger"></span>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="FlowerPrice" class="form-control border-0 shadow" />
                        <label asp-for="FlowerPrice" class="ms-2"></label>
                        <span asp-validation-for="FlowerPrice" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="FlowerSaledPrice" class="form-control border-0 shadow" />
                        <label asp-for="FlowerSaledPrice" class="ms-2"></label>
                        <span asp-validation-for="FlowerSaledPrice" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="StoreDate" class="form-control border-0 shadow" />
                        <label asp-for="StoreDate" class="ms-2"></label>
                        <span asp-validation-for="StoreDate" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="StoreInventory" class="form-control border-0 shadow" />
                        <label asp-for="StoreInventory" class="ms-2"></label>
                        <span asp-validation-for="StoreInventory" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input type="file" name="file" class="form-control border-0 shadow" />
                        <label asp-for="UrlImage" class="ms-2"></label>
                        
                    </div>
                    <div class="col-2">
                        @if (@Model.UrlImage != null)
                        {
                            <div class="border p-1 m-2 text-center">
                                <img src="@Model.UrlImage" width="100%"
                                     style="border-radius:5px; border:1px solid #bbb9b9" />

                            </div>

                        }
                    </div>
                    <div class="py-2 col-12">
                        <label asp-for="CategoryID">Category</label>
                        <select asp-for="CategoryID" asp-items="ViewBag.Categories" class="form-select">
                            <option selected>--Select Category---</option>
                        </select>
                        <span asp-validation-for="CategoryID" class="text-danger"></span>
                    </div>
                    @*  <div class="form-floating py-2 col-12">
                    <input type="file" name="files" class="form-control border-0 shadow" multiple />
                    <label asp-for="Product.ProductImages" class="ms-2"></label>
                    </div> *@
                    <div class="row pt-2">
                        <div class="col-6 col-md-3">
                            @if (Model.FlowerID != Guid.Empty)
                            {
                                <button type="submit" class="btn btn-primary form-control">Update</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary form-control">Create</button>
                            }
                        </div>
                        <div class="col-6 col-md-3">
                            <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary border  form-control">
                                Back to List
                            </a>
                        </div>
                    </div>

                </div>
                
            </div>

        </form>
    </div>
</div>




@{
    <partial name="_ValidationScriptsPartial" />
}