﻿@model List<Product>

<h1>Product List</h1>
<table class="table table-bordered">
    <tr>
        <th>
            Title
        </th>
        <th>
            ISBN
        </th>
        <th>
            Price
        </th>
        <th>
            Author
        </th>
        <th>
            Category
        </th>
        <th></th>
    </tr>
    @foreach (var obj in Model)
    {
        <tr>
            <td>@obj.Title</td>
            <td>@obj.ISBN</td>
            <td>@obj.ListPrice</td>
            <td>@obj.Author</td>
            <td></td>
            <td>
                <div class="w-75 btn-group" role="group">
                    <a asp-controller="Product" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">Edit</a>
                    <a asp-controller="Product" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">Delete</a>
                </div>
            </td>
        </tr>
    }
</table>
<a asp-controller="Product" asp-action="Create" class="btn btn-primary">Add Product</a>